button{
  margin: 1vw;
  left: 2%;
  font-size: 3vw;
  height: 70%;
}
mat-card{
  background-color:rgb(21, 140, 57);
}
button.btnMesas{
  background-color: rgb(172, 194, 24);
  color: black;
}
button.btnCandidatos{
  background-color: rgb(159, 180, 23);
  color: black;
}
button.btnPartidos{
  background-color: rgb(142, 161, 18);
  color: black;
}
img{
  width: 50vw;
  margin-bottom: 2vw;
}

mat-card-title{
  font-size: 4vw;
  margin-bottom: 2vw;
}
mat-card-subtitle{
  font-size: 2vw;
  margin-bottom: 2vw;
}
